<form id="post-form"> 
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" id="title" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea type="text" id = "comment" class="form-control"  rows="4" cols="50"></textarea>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

<script src="/js/post.js"></script> 